.tazweed-rules h2{
    color: skyblue;
    font-size: 20px;
    font-weight:bold;
    
}

.dark .custom-tazweed{
    background-color: black;
    color: aliceblue;
    padding: 2px
    
}

.custom-tazweed{
    background-color: white;
    color: gray;
}