.tazweed-rules h2{
    color:blueviolet;
    font-size: 20px;
    font-weight:bold;
    
}

.dark .custom-tazweed{
    background-color: black;
    color: aliceblue;
    
}

.custom-tazweed{
    background-color: white;
    color: gray;
}