@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-custom {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  L
.active{
    color: #12D6DA;
}