@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "Nunito-Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  color: black;
}
.dark body{
  background-color: rgb(16, 5, 5);
  color: black;
}

.arabic-text {
  font-family: "KFGQPC Uthman Taha Naskh", serif;
  font-size: 28px;
  direction: rtl;
  text-align: right;
  line-height: 2.4;
  direction: rtl;
  unicode-bidi: isolate;
}

/* @font-face {
  font-family: 'KFGQ_HAFS';
  src: url('./assets/fonts/KFGQ_HAFS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "KFGQ_HAFS";
  src: url("./assets/fonts/Hafs-font.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* .inter-custom {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.nunito-sans-custom {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500; 
}*/
.custom-btn {
  border: 1px solid #12d6da;
  font-size: 16px;
  padding: 24px;
  font-weight: 100;
  color: #000;
}

.custom-btn:hover {
  background-color: #12d6da;
  color: #000;
}

.dark .custom-btn {
  color: #12d6da;
}

.dark .custom-btn:hover {
  background-color: #12d6da;
  color: #000;
}

@media (max-width: 640px) {
  .custom-btn {
    font-size: 12px;
    padding: 10px;
  }
}

/* wave-divider css */

.wave-divider {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-divider svg {
  position: relative;
  display: block;
  width: calc(177% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.wave-divider .shape-fill {
  fill: white;
}

/* animation css */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.animate-typing {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  animation: typing 3s steps(22, end) forwards;
  animation-fill-mode: forwards;
  position: relative;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

.hidden-slide {
  opacity: 0;
}

@keyframes slideInTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-top {
  animation: slideInTop 0.8s ease-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}


/* next prev btn */

.next-btn{
   color: gray;

}

.previous-btn{

}