
.custom-quran input {
  background-color: white;
  color: white;
  
}

.custom-quran input:not(:checked) {
  background-color: white;
  border: 1px solid skyblue;
  color: black;
}


.dark .custom-quran input:not(:checked) {
  border: 1px solid gray;
}



