.custom-quran {
}

.dark .custom-quran .tab input{
}

.custom-quran input {
  background-color: white;
  color: white;
  
}



.custom-quran input:not(:checked) {
  background-color: white;
  border: 1px;
  color: black;
}




