.custom-navbar .active {
  color: #12d6da;
}

.custom-navbar ul li a {
  font-size: 16px;
  color: #2c366d;
}

.dark .custom-navbar ul li a{
  color: #000;
  background-color: #ffffff;
}

.dark .custom-navbar .active {
  color: #12d6da;
}


