.custom-navbar .active{
    color: #12D6DA;
    
}

.custom-navbar ul li a{
    font-size: 16px;
    color: #2C366D;
}


.dark .custom-navbar ul li a{
    color: #ffffff;
}


.dark .custom-navbar .active{
    color: #12D6DA;

}
