.prayer-time {
  position: relative;
  background-image: url('https://i.ibb.co/7dpWhjZh/Blue-Purple-Watercolor-Islamic-Background-Instagram-Story.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  z-index: 0;
}

.prayer-time::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: -1;
}

/* Dark mode overlay */
.dark .prayer-time::before {
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
}
